body {
  background: #3E6D9C;
}

.counter {
  background: #FD841F;
  border: 2px solid slateblue;
  width: 600px;
  height: max-content; 
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
}

.counter h1 {
  color: rgb(49, 49, 49);
  display: flex;
  justify-content: center;
}

.state {
  display: flex;
  justify-content: center;
}

.state span {
  color: rgb(49, 49, 49);
  font-size: 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  padding: 1.9rem 1rem;
  display: flex;
  justify-content: center;
  animation: heartbeat 1s infinite;
  border: 2px solid #3E6D9C;
  width: 100px;
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: scale(1); 
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
} 



.buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}

.buttons button {
  padding: 1rem;
  background-color: #3E6D9C;
  color: rgb(49, 49, 49);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  transform: scale(1.1);
  color: #FD841F; 
}

.form {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form input {
  padding: 0.8rem;
  border-radius: 7px;
  border: none;
  background-color: #3E6D9C;
  font-size: 1rem;
  font-weight: bold;
}

.form button {
  padding: 0.7rem;
  background-color: #3E6D9C;
  color: whitesmoke;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: rgb(49, 49, 49);
  font-weight: bold;
  font-size: 1rem;
}